In [ ]:
# Text-to-SQL Converter in Jupyter Notebook

# Import necessary libraries
import re

# Step 1: Preprocess the text input
def preprocess_text(input_text):
    """
    Cleans and preprocesses the natural language input text.
    """
    input_text = input_text.lower()  # Convert to lowercase
    input_text = re.sub(r"[^a-zA-Z0-9\s]", "", input_text)  # Remove special characters
    return input_text

# Step 2: Generate SQL query from text input
def text_to_sql(text):
    """
    Converts a natural language query into an SQL query based on predefined rules.
    """
    # Preprocess the input text
    text = preprocess_text(text)
    
    # Define basic rules to convert text to SQL
    if "employees" in text and ("list" in text or "all" in text):
        return "SELECT * FROM employees;"
    elif "departments" in text and ("list" in text or "all" in text):
        return "SELECT * FROM departments;"
    elif "salary" in text and "employees" in text and "higher than" in text:
        try:
            salary = int(re.search(r"\d+", text).group())
            return f"SELECT * FROM employees WHERE salary > {salary};"
        except:
            return "Invalid salary amount provided."
    elif "department" in text and "employees" in text and "is" in text:
        try:
            dept = re.search(r"(is\s+)(\w+)", text).group(2)
            return f"SELECT * FROM employees WHERE department = '{dept}';"
        except:
            return "Invalid department provided."
    else:
        return "Sorry, I couldn't understand your request. Please try rephrasing."

# Step 3: Real-Time Simulation
print("Text-to-SQL Converter: Type your query or 'exit' to quit.")
while True:
    user_input = input("You: ")
    if user_input.lower() == "exit":
        print("Text-to-SQL Converter: Goodbye!")
        break
    sql_query = text_to_sql(user_input)
    print(f"Generated SQL: {sql_query}")

Text-to-SQL Converter: Type your query or 'exit' to quit.